.title p {
    margin: 10px;
}

.card:nth-child(1) .title {
    background: #fbaf5d;
}

.card:nth-child(2) .title {
    background: #7cc576;
}

.card:nth-child(3) .title {
    background: #5674b9;
}

.card:nth-child(4) .title {
    background: #f26d7d;
}

.card:nth-child(5) .title {
    background: #c69c6d;
}
.card:nth-child(5) .card_img {
    height: 570px;
    overflow: hidden;
}

.card:nth-child(6) .title {
    background: #f06eaa;
}


